/venv/Lib/site-packages/markdown/extensions/__init__.py
/venv/Lib/site-packages/markdown/__init__.py
/venv/Lib/site-packages/markdown/__main__.py
/venv/Lib/site-packages/markdown/__meta__.py
/venv/Lib/site-packages/markdown/extensions/abbr.py
/venv/Lib/site-packages/markdown/extensions/admonition.py
/venv/Lib/site-packages/markdown/extensions/attr_list.py
/venv/Lib/site-packages/markdown/blockparser.py
/venv/Lib/site-packages/markdown/blockprocessors.py
/venv/Lib/site-packages/markdown/extensions/codehilite.py
/venv/Lib/site-packages/markdown/core.py
/venv/Lib/site-packages/markdown/extensions/def_list.py
/venv/Lib/site-packages/shell-1.0.1.dist-info/DESCRIPTION.rst
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/entry_points.txt
/venv/Lib/site-packages/markdown/extensions/extra.py
/venv/Lib/site-packages/markdown/extensions/fenced_code.py
/venv/Lib/site-packages/markdown/extensions/footnotes.py
/venv/Lib/site-packages/markdown/htmlparser.py
/venv/Lib/site-packages/markdown/inlinepatterns.py
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/INSTALLER
/venv/Lib/site-packages/shell-1.0.1.dist-info/INSTALLER
/venv/Lib/site-packages/markdown/extensions/legacy_attrs.py
/venv/Lib/site-packages/markdown/extensions/legacy_em.py
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/LICENSE.md
/venv/Scripts/markdown_py.exe
/venv/Lib/site-packages/markdown/extensions/md_in_html.py
/venv/Lib/site-packages/markdown/extensions/meta.py
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/METADATA
/venv/Lib/site-packages/shell-1.0.1.dist-info/METADATA
/venv/Lib/site-packages/markdown/extensions/nl2br.py
/venv/Lib/site-packages/markdown/pep562.py
/venv/Lib/site-packages/markdown/postprocessors.py
/venv/Lib/site-packages/markdown/preprocessors.py
/venv/Lib/site-packages/shell-1.0.1.dist-info/pydist.json
/Readme.md
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/RECORD
/venv/Lib/site-packages/shell-1.0.1.dist-info/RECORD
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/REQUESTED
/venv/Lib/site-packages/shell-1.0.1.dist-info/REQUESTED
/venv/Lib/site-packages/markdown/extensions/sane_lists.py
/venv/Lib/site-packages/markdown/serializers.py
/venv/Lib/site-packages/shell.py
/venv/Lib/site-packages/markdown/extensions/smarty.py
/venv/Lib/site-packages/markdown/extensions/tables.py
/venv/Lib/site-packages/markdown/test_tools.py
/venv/Lib/site-packages/markdown/extensions/toc.py
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/top_level.txt
/venv/Lib/site-packages/shell-1.0.1.dist-info/top_level.txt
/venv/Lib/site-packages/markdown/treeprocessors.py
/venv/Lib/site-packages/markdown/util.py
/venv/Lib/site-packages/Markdown-3.3.3.dist-info/WHEEL
/venv/Lib/site-packages/shell-1.0.1.dist-info/WHEEL
/venv/Lib/site-packages/markdown/extensions/wikilinks.py
